.surveyForm {
    display: flex;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 75%;
}


.figure img {
    max-width: 90%; /* Adjust image width as needed */
    height: auto;
}

.likert-scale {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust Likert scale width as needed */
    font-size: 25px;
}

.radio-item {
    display: flex;
    flex-direction: row;
    font-size: 25px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    margin-top: -20px;
    margin-left: 20px;
    font-size: 35px;
}

div button{
    display:inline-block;
}

h3 {
    margin-left: 10%;
}

h1 {
    text-align: center;
}
#warning
{
    color: red;
}


.navigation {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
label {
    display: block;
    font-weight: bold;
}

